
{extend name="public/base" /}

<!--尾部-->

<!--返回顶部-->
{block name="content"}
{__block__}

<input type="hidden" name="mun_url" id="mun_url" value="4,0,false,服务分类"/>
<div class="c-r right">
    <div class="label1">
        <div class="title">
            添加服务分类
        </div>
        <div class="form" id="form">
            {empty name="$data"}
                <form action="../service/insertclass" enctype="multipart/form-data" method="post">
            {else /}
                <form action="../service/updateclass" enctype="multipart/form-data" method="post">
            {/empty}
                <div><label class="ltxt">分类名称:</label><input type="text" name="name" id="" value="{$data.name?$data.name : ''}" /><span></span></div>
                <div><label class="ltxt">分类排序:</label><input type="text" name="paixu" id="" value="{$data.paixu?$data.paixu : ''}" /><span></span></div>
                {notempty name="$data"}
                    <input type="hidden" name="cid" id="" value="{$data.cid}" />
                {/notempty}
                <div><label class="ltxt">模板:</label>
                    <select type="" name="moban">
                        <option value ="1"{notempty name="$data"} {if condition="$data.moban == 1 && $data" } selected {/if}{/notempty} >帮我送</option>
                        <option value ="2"{notempty name="$data"} {if condition="$data.moban == 2 && $data" } selected {/if}{/notempty}  >帮我买</option>
                        <option value ="3"{notempty name="$data"} {if condition="$data.moban == 3 && $data" } selected {/if}{/notempty}  >代排队</option>
                    </select>
                    <span></span>
                </div>
                <div><button type="submit" class="btns">保存并提交</button><a href="javascript:history.go(-1);" class="cancel">取消</a></div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>



{/block}
















