{extend name="public/base" /}



<!--尾部-->



<!--返回顶部-->

{block name="content"}

{__block__}

<input type="hidden" name="mun_url" id="mun_url" value="4,0,false,服务管理"/>

<div class="c-r right">

    <div class="label1">

        <div class="title">

            服务分类

        </div>

        <div class="label-3 label">
            <div class="search">
            </div>
            <div class="Statistics">
                <button class="blue"><a href="addclass">添加分类</a></button>
                <div class="" style="display: inline-block;margin-left: 46px">
                </div>
                <div class="clear"></div>
            </div>
            <div class="Tab Tabs">

                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="" id="" value="" /></th>
                        <th>ID</th>
                        <th>分类名称</th>
                        <th>模板ID</th>
                        <th>图片</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {volist name="data" id="vo"}
                    <tbody class="ass">
                    <tr class="one" data-type=''>
                        <td><img src="__STATIC__/home/img/show.gif" class="Iimg" style="width: 12px;height: 12px;"></td>
                        <td class="pid">{$vo.cid}</td>
                        <td class="pid">{$vo.name}</td>
                        <td class="pid">{$vo.moban}</td>
                        <td></td>
                        <td>
                            <button class="modifybtn ml" onclick="compile('add?id={$vo.cid}')">添加二级分类</button>
                            <button class="modifybtn ml" onclick="compile('editclass?id={$vo.cid}')">编辑</button>
                            <button class="openbtn" onclick="compile('delclass?id={$vo.cid}')" >删除</button>
                        </td>
                    </tr>
                    {volist name="vo.vdo" id="vos"}
                    <tr class="two" data-type='{$vo.cid}' data-i = "{$vos.id}">
                        <td><img src="__STATIC__/home/img/show.gif" class="Iimg_tow" style="width: 12px;height: 12px;float: right;"></td>
                        <td class="pid">{$vos.id}</td>
                        <td>{$vos.name}</td>
                        <td></td>
                        <td><img src="{$vos.pic}"/></td>
                        <td>
                            <button class="modifybtn ml" onclick="compile('threeadd?id={$vos.id}')">添加子分类</button>
                            <button class="modifybtn ml" onclick="compile('edit?id={$vos.id}')">编辑</button>
                            <button class="openbtn" onclick="compile('delete?id={$vos.id}')">删除</button>
                        </td>
                    </tr>
                        {volist name="vos.three" id="voss"}
                        <tr class="three" data-type='{$vo.cid}' data-i = "{$vos.id}">
                            <td><i class="" ></i></td>
                            <td class="pid">{$voss.tid}</td>
                            <td>{$voss.sname}</td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="modifybtn ml" onclick="compile('editthree?id={$voss.tid}')">编辑</button>
                                <button class="openbtn" onclick="compile('delthree?id={$voss.tid}')">删除</button>
                            </td>
                        </tr>
                        {/volist}
                    {/volist}
                    </tbody>
                    {/volist}
                </table>
            </div>
            <div style="text-align: center" class="pages">
            </div>
        </div>
    </div>
</div>



<div id="wrap" class="wrap">

    <div class="wrap-body express">

        <div class="title">

            详情查看

        </div>

        <iframe src="show" style="height: 100%; width: 100%;"></iframe>

        <span class="close-wrap close-win">×</span>

        <div class="wrap-btn">

            <span class="close-btn close-win">取消</span>

            <span class="next-btn close-win">确认</span>

        </div>

    </div>

</div>



<script type="text/javascript">
	$(document).on("click", ".Iimg_tow", function(){
		var src = $(this).attr('src')
		var srcshow = "__STATIC__/home/img/show.gif"		//显示图片地址
        var srchide = "__STATIC__/home/img/hide.gif"		//隐藏图片地址
		var index = $(this).parent().parent().attr('data-i');
		var tr = $(this).parent().parent().parent()
		if (src == srchide) {
			$(this).attr('src',srcshow)
			tr.find('.three').hide()
		}else{
			$(this).attr('src',srchide)
			for (var i = 0; i < tr.find('.three').length; i++) {
				tr.find('.three').eq(i).hide()
				if(tr.find('.three').eq(i).attr('data-i') == index){
					tr.find('.three').eq(i).show()
				}
			}
		}
	})

    $(document).on("click", ".Iimg", function(){
        var src = $(this).attr('src')
        var srcshow = "__STATIC__/home/img/show.gif"		//显示图片地址
        var srchide = "__STATIC__/home/img/hide.gif"		//隐藏图片地址
        var img_this = $(this)
        var superior = img_this.parent().parent().parent()
        var one = img_this.parent().parent().attr('class')		//一级
        if (src == srcshow) {
            $(this).attr("src",srchide)
            if (one == 'one') {
                superior.find('.two').show()
                superior.find('.twobtn').show()
            }
        }else{
            $(this).attr("src",srcshow)
            if (one == 'one'){
                superior.find('.two').hide()
                superior.find('.twobtn').hide()
                superior.find('.three').hide()
                $('.Iimg_tow').attr('src',srcshow)
            }
       }
    })

    function dels(id){

        if(window.confirm('你确定要删除吗吗？')){

            var data = {

                id:id

            };

            $.ajax({

                type:"get",

                url:"{:url('goods/delete')}",

                data: data,

                dataType: "json",

                success: function(data){

                    if (data == 1) {

                        prompt('删除成功',data)

                        window.location.reload();

                    } else{

                        prompt('删除失败',data)

                    }

                },

                error:function(err){

                    console.log(err)

                    prompt('操作失败',0)

                }

            });

        }else{

            //alert("取消");

            return false;

        }



    }

    //	green

    $(function () {

        var leng = $('.Tab tr')

        for (var i = 0; i < leng.length; i++){

            var txt = leng.eq(i).find('.green b').text()

            //alert(txt)

            if(txt == '已上架'){

                leng.eq(i).find('.green b').addClass('putaway')

            }

            if(txt == '已下架'){

                leng.eq(i).find('.green b').addClass('sold ')

            }

        }



    })



    $(".open-win").click(function(){

        var dataurl = $(this).attr('data-type');

        $("iframe").attr('src',dataurl)

    })













    function shelves(j,v){

        var pid = j.parent().parent().find('.goodsid').text()

        var data = {

            goodsid:pid,status:v,

        };

        $.ajax({

            type:'post',

            url:"__publicPath__/home/goods/soldOut",			//请求地址加参数

            data: data,

            success: function(data){

                window.location.reload();

                //Parent.find('.green').addClass('red')



            },

            error:function(){

                alert('更新失败')

            }

        });

    }



    var Ptid_one = $("#class_one");   //获取每级id

    var Ptid_tow = $("#class_two");

    var Ptid_three = $("#class_three");

    var Level = "0";   //获取级别



    $(".bor6").unbind('click').bind('click',function(){

        $(".bor7 ul li").remove()

        //alert('-')

        var	are = '';

        $.ajax({

            type:"get",

            url:"__publicPath__/home/commtype/ajaxindex",

            data: '',

            dataType: "json",

            success: function(data){

                //alert(data[1].title)

                for (var i = 0; i < data.length; i++){      //一级分类

                    //alert(data[i].title)

                    are += "<li data-type="+data[i].tid+">"+data[i].name+"</li>";

                    Level = data[i].level

                    //console.log(Level)

                    //$(".bor6 ul").html('')

                    //alert('1')

                    //alert($(".bor6 ul").html('666'))

//						for (var j = 0; j < data[i].sub.length; j++) {   //二级菜单

//							//alert(data[i].sub[j].title)

//						}

                }

                $(".bor6 ul").html('')

                $(".bor6 ul").append(are)

            },

            error:function(){

                alert('失败')

            }

        });

    })



    var Li;  				//一级索引

    var towLi;				//二级索引

    //二级分类

    $(document).on("click", ".bor6 ul li", function(){

        $(".bor7 ul li").remove()

        $(".bor7 span").text('请选择')

        $(".bor8 ul li").remove()

        $(".bor8 span").text('请选择')

        Li = $(this).index()

        var	are = '';

        $.ajax({

            type:"get",

            url:"__publicPath__/home/commtype/ajaxindex",

            data: '',

            dataType: "json",

            success: function(data){

                for (towLi = 0; towLi < data[Li].sub.length; towLi++) {   //二级菜单

                    are += "<li data-type="+data[Li].sub[towLi].ptid+">"+data[Li].sub[towLi].name+"</li>"

                    Level = data[Li].sub[towLi].level

                }

                $(".bor7 ul").html('')

                $(".bor7 ul").append(are)

                //console.log(Level)

            },

            error:function(){

                alert('失败')

            }

        });

    })



    //三级分类

    $(document).on("click", ".bor7 ul li", function(){

        $(".bor8 span").text('请选择')

        var stowLi = $(this).index()

        var	are = '';

        $.ajax({

            type:"get",

            url:"__publicPath__/home/commtype/ajaxindex",

            data: '',

            dataType: "json",

            success: function(data){

                for (var i = 0; i < data[Li].sub[stowLi].sub.length; i++) {   //三级菜单

                    //alert(data[Li].sub[stowLi].sub[i].title)

                    are += "<li data-type="+data[Li].sub[stowLi].sub[i].ptid+">"+data[Li].sub[stowLi].sub[i].name+"</li>"

                    Level = data[Li].sub[stowLi].sub[i].level

                }

                $(".bor8 ul").html('')

                $(".bor8 ul").append(are)

                //console.log(Level)

            },

            error:function(){

                alert('失败')

            }

        });

    })





    $("#search").click(function(){

        var pid_one = $(".bor6 span").attr('data-type');

        var pid_two = $(".bor7 span").attr('data-type');

        var pid_three = $(".bor8 span").attr('data-type');



//		var data = {

//			pid_one:pid_one,

//			pid_two:pid_two,

//			pid_three:pid_three

//		}

        window.location.href='goodssearch?pid_one='+pid_one+'&pid_two='+pid_two+'&pid_three='+pid_three;

//		$.ajax({

//			type:"get",

//			url:"data/select.json",

//			data: data,

//			dataType: "json",

//			success: function(data){

//

//			},

//			error:function(){

//				alert('失败')

//			}

//		});

    })



    $("#search_name").click(function(){

        var searchname = $(this).parent().find('input').val()

        if (searchname == '' || searchname == undefined) {

        } else{

            window.location.href='goodssearch?name='+searchname;

//			var data = {name:searchname}

//			$.ajax({

//				type:"get",

//				url:"data/select.json",

//				data: data,

//				dataType: "json",

//				success: function(data){

//

//				},

//				error:function(){

//					alert('失败')

//				}

//			});

        }



    })

</script>



{/block}



