
{extend name="public/base" /}
<!--尾部-->
<!--返回顶部-->
{block name="content"}
{__block__}
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.6&key=750af02deaaa73c1a72121b4957be1e4"></script>
<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
<link rel="stylesheet" href="__STATIC__/home/lib/h-ui/css/H-ui.min.css">
<link rel="stylesheet" href="__STATIC__/home/lib/h-ui/css/H-ui.reset.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="__STATIC__/home/style/addressManager.css" rel="stylesheet">
<input type="hidden" name="mun_url" id="mun_url" value="11,14,false,区域代理"/>
<style type="text/css">
    body {
        background: #FFF !important;
    }

    textarea {
        background: #FFF;
    }

    a {
        /*color: #FFF;*/
        text-decoration: none;
    }

    input {
        background: #FFFFFF;
    }

    .list a, .assistant a {
        color: #FFF !important;
    }

    .act a {
        color: #333 !important;
    }

    .l_tow_sub a, l_tow_sub a:active {
        color: #444;
        text-decoration: none;
    }

    span.unit{
        font-size: 12px !important;
    }
    .mapconfig-info{
        font-size: 12px !important;
    }
    .mapconfig-info p{
        padding: 0;
        margin: 5px 0 !important;
    }


</style>
<div class="container" style="height: 100px;">
    <div class="container" id="app">

        <div class="input-group">
            <label for="proxyName" class="input-side">
                代理名称
            </label>
            <div class="input-control">
                <input type="text" v-model="formData.proxyName" id="proxyName" placeholder="请输入"
                       class="input-text radius size-M">
            </div>
        </div>

        <div class="input-group">
            <label for="name" class="input-side">
                真实姓名
            </label>
            <div class="input-control">
                <input type="text" v-model="formData.name" id="name" placeholder="请输入" class="input-text radius size-M">
            </div>
        </div>

        <div class="input-group">
            <label for="phoneNumber" class="input-side">
                手机号
            </label>
            <div class="input-control">
                <input type="text" v-model="formData.phoneNumber" id="phoneNumber" placeholder="请输入"
                       class="input-text radius size-M">
            </div>
        </div>

        <div class="input-group">
            <label for="password" class="input-side">
                密码
            </label>
            <div class="input-control">
                <input type="password" v-model="formData.password" id="password" placeholder="请输入"
                       class="input-text radius size-M">
            </div>
        </div>

        <div class="input-group">
            <label for="proxyRegion" class="input-side">
                代理区域
            </label>
            <div class="input-control">
                <input type="text" v-model="formData.proxyRegion" id="proxyRegion" placeholder="请输入"
                       class="input-text radius size-M">
            </div>
        </div>

        <div class="input-group">
            <label class="input-side">
                是否启用
            </label>
            <div class="input-control">
                <div class="radio-box">
                    <input type="radio" id="radio-1" name="enable" value="0" v-model="formData.enable">
                    <label for="radio-1">不启用</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="radio-2" name="enable" value="1" v-model="formData.enable">
                    <label for="radio-2">启用</label>
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="" class="input-side">
                代理服务中心点
            </label>
            <div class="input-control">
                <input type="text" v-model="formData.serviceCenter.location.O" placeholder="经度"
                       class="input-text radius size-M" style="width: 300px;margin-right: 15px;">
                <input type="text" v-model="formData.serviceCenter.location.P" placeholder="纬度"
                       class="input-text radius size-M" style="width: 300px;margin-right: 15px;">
                <button class="btn btn-primary radius" type="button" data-toggle="modal" data-target="#exampleModalCenter">
                    选择坐标
                </button>
            </div>
        </div>

        <div class="input-group">
            <label for="" class="input-side">
                服务区域
            </label>
            <div class="input-control">
                <div class="map-label">
                    <h3>区域及配送范围</h3>

                    <div class="mapconfig-info" v-for="(serviceRegionItem,index) in formData.serviceRegionGroup">
                        <p>配送范围</p>
                        <p>起送价 {{serviceRegionItem.beginPrice}} 元 配送费 {{serviceRegionItem.deliverPrice}} 元 满
                            {{serviceRegionItem.fullSubtractionPrice}} 元免配送费</p>
                        <div>
                            <button class="btn btn-secondary radius size-MINI edit-btn" type="button"
                                    @click="editorMapConfig({index:index})">开启编辑
                            </button>
                        </div>
                    </div>

                    <div class="add-mapconfig" v-if="mapConfigForm.editorStatus == 1">
                        <div class="mapconfig-title">
                            <div>
                                配送范围
                            </div>
                            <div>
                            <span class="btn btn-primary-outline size-MINI radius"
                                  @click="closeAddMapConfig()">取消</span>
                                <span class="btn btn-primary-outline size-MINI radius" @click="saveMapConfig()">保存</span>
                            </div>
                        </div>
                        <div class="mapconfig-input-group">
                            <span class="label">首重</span>
                            <input type="text" v-model="mapConfigForm.beginPrice" placeholder="请输入kg"
                                   class="input-text radius size-MINI">
                            <input type="text" v-model="mapConfigForm.deliverPrice" placeholder="请输入价格"
                                   class="input-text radius size-MINI">
                            <span class="unit">元</span>
                        </div>
                        <div class="mapconfig-input-group">
                            <span class="label">配送费  </span>
                            <input type="text" v-model="mapConfigForm.deliverPrice" placeholder="请输入"
                                   class="input-text radius size-MINI">
                            <span class="unit">元</span>
                        </div>
                        <div class="mapconfig-input-group">
                            <span class="label">满  </span>
                            <input type="text" v-model="mapConfigForm.fullSubtractionPrice" placeholder="请输入"
                                   class="input-text radius size-MINI">
                            <span class="unit">元免配送费</span>
                        </div>
                    </div>

                    <button @click="openAddMapConfig()" class="btn btn-primary radius" type="button"><i
                            class="fa fa-plus-square"></i> 新增配送区域
                    </button>
                </div>
                <div id="map-container" class="map-container"></div>
            </div>
        </div>

        <div class="input-group" style="text-align: center;margin-top: 100px;">
            <button class="btn btn-block btn-success radius" type="button" style="width: 100px;display: inline-block;">提交</button>
        </div>

        <!-- 系统弹窗 -->
        <div class="windowAlert" v-bind:class="{'windowAlertShow':windowAlert.isShow}">
            <strong>{{windowAlert.hintText}}</strong>
        </div>


        <!-- 地图选择 -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered address-map-container" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title" id="exampleModalLongTitle">选择我的位置

                            <div class="input-group">
                                <input type="text" id="tipinput" v-model="addressSearchForm.keywords" class="input-text size-M
" placeholder="请输入需要搜索的位置">
                                <button class="btn btn-success" type="button" @click="searchKeywords()"><i
                                        class="fa fa-search"></i> 搜索
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div id="mapContainer" class="address-map"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                @click="saveServiceCenterPoint()">确认
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="__STATIC__/home/lib/h-ui/js/H-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

    var vm = new Vue({
        el: '#app',
        data: {
            formData: {
                proxyName: '',  // 代理名称
                name: '',   // 姓名
                phoneNumber: '',   // 电话
                password: '',   // 密码
                proxyRegion: '',    // 服务地区
                enable: '1',    // 是否启用
                serviceCenter: {    // 服务中心
                    location: {
                        O: 0,
                        P: 0,
                        lat: 0,
                        lng: 0
                    },
                    isSelect: false
                },
                serviceRegionGroup: [
                    // {
                    //     beginPrice: 0,  // 起送价格
                    //     deliverPrice: 0, // 配送价格
                    //     fullSubtractionPrice: 0,  // 满减价格
                    //     location: {},   // 地图对象
                    // }
                ]
            },
            mapConfigForm: {
                editorStatus: 0,
                beginPrice: '', // 起送价
                deliverPrice: '', // 配送费
                fullSubtractionPrice: '', // 满减
                currentEditorIndex: -1
            },
            addressSearchForm: {
                keywords: '',
                location: null,
            },
            windowAlert: {
                hintText: '',
                isShow: false,
                defaultTimeOut: 2000
            },
        },
        methods: {
            alertHintText: function ({text: text}) {   // 弹框
                let _this = this;
                _this.windowAlert.hintText = text;
                _this.windowAlert.isShow = true;
                setTimeout(function () {
                    _this.windowAlert.isShow = false;
                }, _this.windowAlert.defaultTimeOut);
            },
            openAddMapConfig: function () { // 打开添加地图配置项
                if (!vm.formData.serviceCenter.isSelect) {
                    this.alertHintText({text: '请配置代理服务中心点'});
                    return false
                }
                if (this.mapConfigForm.editorStatus == 1) {
                    this.alertHintText({text: '请先保存目前正在编辑的配置项'});
                    return false;
                }
                this.mapConfigForm = {
                    editorStatus: 1,
                    beginPrice: '',
                    deliverPrice: '',
                    fullSubtractionPrice: '',
                    currentEditorIndex: -1
                };
                polygonDrawUtil.beginDraw();
            },
            closeAddMapConfig: function () {    // 关闭添加地图配置项
                this.mapConfigForm.editorStatus = 0;
                polygonDrawUtil.closeDrawSlsoClear();
            },
            saveMapConfig: function () {    // 保存区域划分配置
                let currentEditorIndex = this.mapConfigForm.currentEditorIndex;
                if (currentEditorIndex > -1) {
                    polygonDrawUtil.polyEditorSave({map: map,PolygonObject: this.formData.serviceRegionGroup[currentEditorIndex].location});
                    this.formData.serviceRegionGroup[currentEditorIndex].beginPrice = this.mapConfigForm.beginPrice;
                    this.formData.serviceRegionGroup[currentEditorIndex].deliverPrice = this.mapConfigForm.deliverPrice;
                    this.formData.serviceRegionGroup[currentEditorIndex].fullSubtractionPrice = this.mapConfigForm.fullSubtractionPrice;
                    this.mapConfigForm.currentEditorIndex = -1;
                    this.mapConfigForm.editorStatus = 0;
                } else {
                    let tempPoly = polygonDrawUtil.tempPolygon;
                    if (!tempPoly) {  // 判断是否已经进行区域划分
                        this.alertHintText({text: '请配置坐标点'});
                        polygonDrawUtil.beginDraw();
                        return false
                    }
                    let serviceRegion = {};
                    vm.$set(serviceRegion, 'beginPrice', this.mapConfigForm.beginPrice ? this.mapConfigForm.beginPrice : 0);
                    vm.$set(serviceRegion, 'deliverPrice', this.mapConfigForm.deliverPrice ? this.mapConfigForm.deliverPrice : 0);
                    vm.$set(serviceRegion, 'fullSubtractionPrice', this.mapConfigForm.fullSubtractionPrice ? this.mapConfigForm.fullSubtractionPrice : 0);
                    vm.$set(serviceRegion, 'location', tempPoly);
                    this.formData.serviceRegionGroup.push(serviceRegion);
                    this.mapConfigForm.editorStatus = 0;
                }
            },
            editorMapConfig: function ({index: index}) {    // 编辑地图配置
                this.mapConfigForm = {
                    editorStatus: 1,
                    beginPrice: this.formData.serviceRegionGroup[index].beginPrice,
                    deliverPrice: this.formData.serviceRegionGroup[index].deliverPrice,
                    fullSubtractionPrice: this.formData.serviceRegionGroup[index].fullSubtractionPrice,
                    currentEditorIndex: index
                };
                polygonDrawUtil.polyEditor({map: map,PolygonObject: this.formData.serviceRegionGroup[index].location});
            },
            searchKeywords: function () {   // 关键字搜索
                // 关键字搜索
                AMap.service('AMap.PlaceSearch', function () {
                    msearch = new AMap.PlaceSearch({});
                    msearch.search(vm.addressSearchForm.keywords, function (status, result) {
                        let poiList = result.poiList;
                        if (poiList.count > 0) {
                            let poi = poiList.pois[0].location;
                            mapContainer.setCenter(poi);
                            mapContainer.setZoom(16);
                            vm.addressSearchForm.location = poi;
                        }
                    })
                });
            },
            saveServiceCenterPoint: function () {   // 保存中心坐标点
                vm.formData.serviceCenter.location = vm.addressSearchForm.location;
                vm.formData.serviceCenter.isSelect = true;
                let icon = '__STATIC__/home/img/shop_marker.png';
                polygonDrawUtil.addMarker({map: map, icon: icon, location: vm.addressSearchForm.location})
            }
        }
    });


    var map = new AMap.Map("map-container", {
        resizeEnable: true,
        // center: [116.403322, 39.900255],//地图中心点
        // zoom: 15 //地图显示的缩放级别
    });

    var mapContainer = new AMap.Map('mapContainer', {
        resizeEnable: true
    });
    // //地图中添加地图操作ToolBar插件
    mapContainer.plugin(['AMap.ToolBar'], function () {
        //设置地位标记为自定义标记
        var toolBar = new AMap.ToolBar();
        mapContainer.addControl(toolBar);
    });

    mapContainer.on('click', function (e) {
        vm.addressSearchForm.location = e.lnglat;
        let icon = '__STATIC__/home/img/shop_marker.png';
        polygonDrawUtil.addMarker({map: mapContainer, icon: icon, location: vm.addressSearchForm.location})
    });


    let mouseTool;  // 工具句柄

    //在地图中添加MouseTool插件
    AMap.service('AMap.MouseTool', function () {
        mouseTool = new AMap.MouseTool(map);
    });

    /**
     * 双击结束绘制
     * */
    map.on('dblclick', function () {
        if (polygonDrawUtil.drawStatus) {
            polygonDrawUtil.getCurrentPolygonDraw();
            polygonDrawUtil.drawStatus = false;
        }
    })


    // 配置参数
    let polygonConfig = {
        map: map
    }

    /*
     * 多边形绘制工具
     * @auth MrNan
     */
    class PolygonDrawUtil {
        /**
         * @param mouseTool 工具句柄
         * @param polygonConfig 绘制配置文件
         */
        constructor({mouseTool: mouseTool, polygonConfig: polygonConfig}) {
            this.mouseTool = mouseTool;
            this.polygonConfig = polygonConfig;
            this.tempPolygon = null;
            this.beforeSize = 0;
            this.currentSize = 0;
            this.drawStatus = false;
        }

        /**
         * 绘制
         */
        beginDraw() {
            this.mouseTool.polygon(this.polygonConfig);
            this.tempPolygon = null;
            this.drawStatus = true;
        }

        /**
         * 结束编辑并返回当前的绘制的多边形
         * @param map
         */
        getCurrentPolygonDraw() {
            this.mouseTool.close(false);
            let arr = this.polygonConfig.map.getAllOverlays();
            this.currentSize = arr.length;
            if (this.currentSize > this.beforeSize) {
                this.beforeSize = this.currentSize;
                this.tempPolygon = arr[this.currentSize - 1];
            }
        }

        /**
         * 结束编辑,并清除绘制
         * */
        closeDrawSlsoClear() {
            this.getCurrentPolygonDraw();
            if (this.tempPolygon) {
                this.polyDelete({PolygonObject: this.tempPolygon});
            }
        }

        /**
         * 开启折线的编辑状态
         * @param PolygonObject
         */
        polyEditor({map:map,PolygonObject: PolygonObject}) {
            let _this = this;
            map.plugin(["AMap.PolyEditor"], function () {
                _this.polylineEditor = new AMap.PolyEditor(map, PolygonObject);
                _this.polylineEditor.open();
            });
        }

        /**
         * 关闭折线的编辑状态
         * @param PolygonObject
         */
        polyEditorSave({map:map,PolygonObject: PolygonObject}) {
            // map.plugin(["AMap.PolyEditor"], function () {
            //     let polylineEditor = new AMap.PolyEditor(map, PolygonObject);
            //     polylineEditor.close();
            // });
            this.polylineEditor.close();
        }

        /**
         * 删除折线覆盖物
         */
        polyDelete({PolygonObject: PolygonObject}) {
            this.polygonConfig.map.remove(PolygonObject);
        }

        /**
         * 获取折线对象路径信息
         */
        polyGetPath({PolygonObject: PolygonObject}) {
            return PolygonObject.getPath();
        }

        /**
         * 添加标记,并锁定中心区域为位置对象的坐标点区域
         */
        addMarker({map: map, icon: icon, location: location}) {
            let marker = new AMap.Marker({
                position: new AMap.LngLat(location.O, location.P),
                icon: icon
            });
            map.clearMap();
            map.add(marker);
            map.setCenter(location);
            map.setZoom(18);
        }
    }


    let polygonDrawUtil = new PolygonDrawUtil({mouseTool: mouseTool, polygonConfig: polygonConfig});


</script>

{/block}