{extend name="public/base" /}



<!--尾部-->



<!--返回顶部-->

{block name="content"}

{__block__}

<input type="hidden" name="mun_url" id="mun_url" value="11,14,false,区域代理"/>

<div class="c-r right">

    <div class="label1">

        <div class="title">

            区域代理

        </div>

        <div class="label-3 label">
            <div class="search">
            </div>
            <div class="Statistics">
                <button class="blue"><a href="add">添加</a></button>
                <div class="" style="display: inline-block;margin-left: 46px">
                </div>
                <div class="clear"></div>
            </div>
            <div class="Tab Tabs">

                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">

                    <tr>
                        <th><input type="checkbox" name="" id="" value="" /></th>
                        <th>ID</th>
                        <th>分类名称</th>
                        <th>模板ID</th>
                        <th>图片</th>
                        <th>操作</th>
                    </tr>

                </table>
            </div>
            <div style="text-align: center" class="pages">
            </div>
        </div>
    </div>
</div>



<div id="wrap" class="wrap">

    <div class="wrap-body express">

        <div class="title">

            详情查看

        </div>

        <iframe src="show" style="height: 100%; width: 100%;"></iframe>

        <span class="close-wrap close-win">×</span>

        <div class="wrap-btn">

            <span class="close-btn close-win">取消</span>

            <span class="next-btn close-win">确认</span>

        </div>

    </div>

</div>



<script type="text/javascript">

</script>



{/block}



