
{extend name="public/base" /}

<!--尾部-->

<!--返回顶部-->
{block name="content"}
{__block__}
<input type="hidden" name="mun_url" id="mun_url" value="2,0"/>
<div class="c-r right">
	<div class="label1">
		<div class="title">
			添加产品
		</div>
		<div class="form" id="form">
			<form action="editinse" method="post" enctype="multipart/form-data">

				<div class="txtname"><label class="">分类名:</label><input type="text" name="name" id="name" value="{$data.name}" style="width: 194px;"/><span></span></div>

				{if condition="$data['v'] eq 0"}
				<div class="txtname"><label class="">图片:</label><img src="{$data.logo}"  style="width: 100px;height: 100px"/><span></span></div>
				<input type="hidden" name="tid" id="tid" value="{$data.tid}" />
				{elseif condition="$data['v'] eq 1"/}
				<div class="txtname"><label class="">图片:</label><img src="{$data.pic}"  style="width: 100px;height: 100px"/><span></span></div>
				<input type="hidden" name="ptid" id="ptid" value="{$data.ptid}" />
				{/if}
				<div><label class="">图片:</label><input type="file" name="image" /> <br> <span></span></div>


				<div><button class="btns">保存</button></div>
				<div class="clear"></div>
			</form>
		</div>
	</div>
</div>



{/block}
















