
{extend name="home/public/base" /}

<!--尾部-->

<!--返回顶部-->
{block name="content"}
{__block__}
<div class="c-r right">
	<div class="label1">
		<div class="title">
			分类管理
		</div>




		<div class="label-3 label">
			<div class="Statistics">
				<button class="blue"><a href="add">添加分类</a></button>
				<span class="right">共有数据：<b>11</b>条</span>
				<div class="clear"></div>
			</div>

			<div class="Tab Tabs">
				<table border="0" cellspacing="0" cellpadding="0" style="width: 984px;">
					<tr>
						<th style="width: 40px;"><input type="checkbox" name="" id="" value="" /></th>
						<th style="width: 60px;">排序</th>
						<th style="width: 100px;">LOGO</th>
						<th style="width: 450px;">分类名</th>
						<th style="width: 160px;">添加时间</th>
						<th style="width: 120px;">操作</th>
					</tr>
				</table>
				<table border="0" cellspacing="0" cellpadding="0" style="width: 984px;">
					{foreach name="data" item="vo"}
					<tr>
						<td style="width: 40px;"><input type="checkbox" name="" id="" value="" /></td>
						<td style="width: 60px;">{$vo.tid}</td>
						<td style="width: 100px;" class="align-r"><img src="{$vo.logo}"></td>
						<td style="width: 450px;" class="align-r">{$vo.name}</td>
						<td style="width: 160px;">{$vo.createtime}</td>
						<td style="width: 120px;"><button class="modifybtn open-win ml">编辑</button><button class="openbtn">删除</button></td>
					</tr>
					{/foreach}
				</table>
			</div>

		</div>
	</div>
</div>


{/block}

