{extend name="public/base" /}

<!--尾部-->

<!--返回顶部-->
{block name="content"}
{__block__}
<style type="text/css">
	.select{border: 1px solid #e3e8ee;padding: 2px;}
</style>
<input type="hidden" name="mun_url" id="mun_url" value="10,0,false,任务大厅"/>
<div class="c-r right">
	<div class="label1">
		<div class="title">
			待发货列表
		</div>




		<div class="label-3 label">
			<!--<div class="Statistics">
				<span class="right">共有数据：<b>11</b>条</span>-->
				<!--<span class="right">共收钱：<b>0.55</b>元</span>
				<div class="clear"></div>
			</div>-->

			<div class="query">
				<div class="left">
					<label>显示
						<select name="">
							<option value="">10</option>
							<option value="">25</option>
							<option value="">50</option>
							<option value="">100</option>
						</select>条
					</label>
				</div>
				<div class="right">
					<label>从当前数据中检索:
						<input type="text" name="" id="" value="" />
					</label>
				</div>
				<div class="clear"></div>
			</div>
			<div class="Tab Tabs">
				<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
					<thead>
						<tr>
							<th style="width: 40px;"><input type="checkbox" name="" id="" value="" /></th>
							<th style="width: 40px;">ID</th>
							<th style="width: 200px;">代理名称<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
							<th style="width: 160px;">姓名<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
	
							<th style="width: 120px;">手机号<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
	
							<th style="width: 80px;">账户余额<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
							<th style="width: 80px;">状态<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
							<th style="">创建时间<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
	
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{foreach name="data" item="vo"}
						<tr>
							<td style="width: 40px;"><input type="checkbox" name="" id="" value="" /></td>
							<td style="width: 40px; " class="goodsid" id="goodsid">{$vo.id}</td>
							<td style="width: 200px;">{$vo.order_no}</td>
							<td style="width: 160px;">{$vo.nickname}</td>
							<td style="width: 120px;">{$vo.phone}</td>
	
							<td style="width: 80px;">{$vo.price}</td>
							<td style="width: 80px;">{$vo.status}</td>
							<td style="">{$vo.time}</td>
	
							<td>
								<select name="select" class="select" id="select">
									{foreach name="inside" item="v"}
									<option value="{$v.uid}">{$v.uname}</option>
									{/foreach}
								</select>
								<button class="modifybtn ml" data-type="show?id={$vo.id}" onclick="paifa('{$vo.id}',$(this))">派发1</button>
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
			</div>
			<div style="text-align: center" class="pages">
				{$data->render()}
			</div>
		</div>
	</div>
</div>

<div id="wrap" class="wrap">
	<div class="wrap-body express">
		<div class="title">

		</div>
		<iframe src="show" style="height: 100%; width: 100%;"></iframe>
		<span class="close-wrap close-win">×</span>
		<div class="wrap-btn">
			<span class="close-btn close-win">取消</span>
			<span class="next-btn close-win">确认</span>
		</div>
	</div>
</div>


<div id="wrap" class="wraps">
	<div class="express wrap-body_two" style="width: 424px;height: auto">
		<div class="title">
			运费计算规则
		</div>
		<div class="wrap-con">
			<div id="forms" class="formse" style="min-height: 200px;width: 424px;">
				<form action="addexpress" method="get" id="form_tow">
					<div><label class="ltxt">快递:</label>
						<div class="bor bor2 bor13">
							<span>请选择</span><i></i>
							<ul style="display: none;">
								{foreach name="express" item="vo"}
								<li data-type = "{$vo.exid}">{$vo.name}</li>
								{/foreach}
							</ul>
						</div>
						<span></span>
					</div>
					<div><label class="ltxt">运单号:</label>
						<input type="text" name="number" id="number" value="" style="width: 202px;"/>
						<span></span>
					</div>
					<input type="hidden" name="mun" id="mun" value="" />
					<input type="hidden" name="pid" id="pid" value="" />
			</div>
			<div class="clear"></div>
		</div>
		<span class="close-wrap close-win">×</span>
		<div class="clear">

		</div>
		<div class="wrap-btn" style="width: 388px;">
			<input type="reset" name="" id="" value="取消" class="btn close-btn close-win"/>
			<input type="submit" name="" id="submit" value="确认" class="btn next-btn"/>
		</div>
		</form>
	</div>
</div>


<script>
	//派发2
	function paifa(id,obj){
		$.ajax({
			url:"{:url('task/GiveOrder')}",
			type:'get',
			data: {
				orderid:id,uid:$('.select').val()
			},
			success: function(data){
			    console.log(data);
				if(data==1){
                    obj.parents('tr').remove()
				}
			},
			error:function(){
				
			}
		});
	}
	$("#submit").click(function(){
		var bor = $("#form_tow .bor13 span").attr('data-type');
		$("#mun").val(bor)
		if ($("#mun").val() == '') {
			prompt('不可为空',0)
			return false;
		}
		if ($("#number").val() == ''){
			prompt('不可为空',0)
			return false;
		}
	})

	$(".open-win").click(function(){
		var dataurl = $(this).attr('data-type');
		$("iframe").attr('src',dataurl)
	})
	function shelves(j,v){

		//var pid = j.parent().parent().find('.goodsid').text()
		var data = {
			goodsid:1,
		};
		$.ajax({
			type:'post',
			url:"__publicPath__/home/order/show",			//请求地址加参数
			data: data,
			success: function(data){
				location.replace(document.referrer);

				//Parent.find('.green').addClass('red')


			},
			error:function(){
				alert('更新失败')
			}
		});
	}

</script>

{/block}

