<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title></title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="__STATIC__/home/login/css/style.css" tppabs="css/style.css" />
<style>
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script src="__STATIC__/home/login/js/jquery.js"></script>
<script src="__STATIC__/home/login/js/verificationNumbers.js" tppabs="js/verificationNumbers.js"></script>
<script src="__STATIC__/home/login/js/Particleground.js" tppabs="js/Particleground.js"></script>
<script>
$(document).ready(function(){
  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });
  //验证码
  createCode();
  //测试提交，对接程序删除即可
  $(".submit_btn").click(function(){
	  //location.href="__publicPath__/home/index/checkLogin"/*tpa=http://***index.html*/;
	  });
});
</script>
</head>
<body>
<form action="checkLogin" method="post">
	<dl class="admin_login">
		<dt>
			<strong>站点后台管理系统</strong>
			<em>Management System</em>
		</dt>
		<dd class="user_icon">
			<input type="text" placeholder="账号" class="login_txtbx" name="name"/>
		</dd>
		<dd class="pwd_icon">
			<input type="password" placeholder="密码" class="login_txtbx" name="password"/>
		</dd>
		
		<dd>
			<input type="submit" value="立即登陆" class="submit_btn" />
		</dd>
		<dd>
			<p><a href="#" class="left">忘记密码？</a><a href="#" class="right">立即注册</a></p>
		</dd>
	</dl>
</form>
</body>
</html>
