{extend name="public/base" /}

<!--尾部-->

<!--返回顶部-->
{block name="content"}
{__block__}
<input type="hidden" name="mun_url" id="mun_url" value="7,1,false,提现记录"/>
<div class="c-r right">
    <div class="label1">
        <div class="title">
            提现记录列表
        </div>




        <div class="label-3 label">
            <!--<div class="Statistics">
                <span class="right">共有数据：<b>11</b>条</span>-->
            <!--<span class="right">共收钱：<b>0.55</b>元</span>
            <div class="clear"></div>
        </div>-->

            <div class="query">
                <div class="left">

                </div>
                <div class="right">
                    <label>从当前数据中检索:
                        <input type="text" name="" id="" value="" />
                    </label>
                </div>
                <div class="clear"></div>
            </div>
            <div class="Tab Tabs">
                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                    <thead>
                    <tr>
                        <th style="width: 40px;"><input type="checkbox" name="" id="" value="" /></th>
                        <th style="width: 40px;">ID</th>
                        <th style="width: 60px;">昵称<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 80px;">提现金额<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 80px;">支付宝账号<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 80px;">申请人姓名<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 100px;">银行卡账户<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 60px;">开户行<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 100px;">请求时间<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 100px;">操作时间<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 80px;">状态<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 80px;">操作<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>

                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="data" item="vo"}
                    <tr>
                        <td style="width: 40px;"><input type="checkbox" name="" id="" value="" /></td>
                        <td style="width: 40px; " class="goodsid" id="goodsid">{$vo.oid}</td>
                        <td style="width: 60px;">{$vo.nickname}</td>
                        <td style="width: 80px;">{$vo.money}</td>
                        <td style="width: 80px;">{$vo.alipay}</td>
                        <td style="width: 80px;">{$vo.name}</td>
                        <td style="width: 100px;">{$vo.cardname}</td>
                        <td style="width: 100px;">{$vo.card}</td>
                        <td style="width: 100px;">{$vo.createtime||date='Y-m-d H:i:s',###}</td>
                        <td style="width: 100px;">{$vo.updatetime}</td>
                        <td style="width: 80px;"><b class="{$vo.class}">{$vo.msg}</b></td>
                        <td style="width: 80px;">
                            {if condition="$vo.status=='0'"}
                            <button class="modifybtn ml" onclick="compile('consent?id={$vo.oid}')">同意</button>
                            <button class="openbtn" onclick="compile('refuse?id={$vo.oid}')">拒绝</button>
                            {else/}
                            <b class="{$vo.class}">已处理</b>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div style="text-align: center" class="pages">
                {$data->render()}
            </div>
        </div>
    </div>
</div>
<div id="wrap" class="wrap">
    <div class="wrap-body express">
        <div class="title">
            详情查看
        </div>
        <iframe src="show" style="height: 100%; width: 100%;"></iframe>
        <span class="close-wrap close-win">×</span>
        <div class="wrap-btn">
            <span class="close-btn close-win">取消</span>
            <span class="next-btn close-win">确认</span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".open-win").click(function(){
        var dataurl = $(this).attr('data-type');
        $("iframe").attr('src',dataurl)
    })

</script>

{/block}

