{extend name="public/base" /}

<!--尾部-->

<!--返回顶部-->
{block name="content"}
{__block__}
<input type="hidden" name="mun_url" id="mun_url" value="7,3,false,零钱提现"/>
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>


<div class="c-r right">
    <div class="label1">
        <div class="title">
            零钱提现
        </div>




        <div class="label-3 label">
            <!--<div class="Statistics">
                <span class="right">共有数据：<b>11</b>条</span>-->
            <!--<span class="right">共收钱：<b>0.55</b>元</span>
            <div class="clear"></div>
        </div>-->

            <div class="query">
                <div class="left">

                </div>
                <div class="right">
                    <label>从当前数据中检索:
                        <input type="text" name="" id="" value="" />
                    </label>
                </div>
                <div class="clear"></div>
            </div>
            <div class="Tab Tabs">
                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                    <thead>
                    <tr>
                        <th style="width: 40px;"><input type="checkbox" name="" id="" value="" /></th>
                        <th style="width: 40px;">ID</th>
                        <th style="width: 60px;">昵称<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 80px;">提现金额<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 100px;">请求时间<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 100px;">操作时间<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 80px;">客户端<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>
                        <th style="width: 80px;">操作<span><i class="triangle-up"></i><i class="triangle-down"></i></span></th>

                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="data" item="vo"}
                    <tr>
                        <td style="width: 40px;"><input type="checkbox" name="" id="" value="" /></td>
                        <td style="width: 40px; " class="goodsid" id="goodsid">{$vo.out_id}</td>
                        <td style="width: 60px;">{$vo.nickname}</td>
                        <td style="width: 80px;">{$vo.price}</td>
                        <td style="width: 100px;">{$vo.out_time||date='Y-m-d H:i:s',###}</td>
                        <td style="width: 100px;">{if condition='$vo.update_time'}
                                        {$vo.update_time||date='Y-m-d H:i:s',###}
                                        {/if}
                        </td>
                        <td style="width: 100px;">{if condition='$vo.type==1'}
                            <b class="sold" style="background:green">用户端</b>

                            {else/}
                            <b class="sold" style="background:#1e347b">跑腿端</b>

                            {/if}
                        </td>
                        <td style="width: 80px;text-align: center">
                            {if condition="$vo.status=='0'"}
                            <button class="modifybtn ml" onclick="start('{$vo.out_id}','on')">同意</button>
                            <button class="openbtn" onclick="start('{$vo.out_id}','off')">拒绝</button>
                            {elseif condition="$vo.status=='1'"/}
                            <b class="sold" style="background:#b1dd94">已转账</b>
                            {else/}
                            <b class="sold" style="background: red;">已拒绝</b>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div style="text-align: center" class="pages">
                {$data->render()}
            </div>
        </div>
    </div>
</div>
<div id="wrap" class="wrap">
    <div class="wrap-body express">
        <div class="title">
            详情查看
        </div>
        <iframe src="show" style="height: 100%; width: 100%;"></iframe>
        <span class="close-wrap close-win">×</span>
        <div class="wrap-btn">
            <span class="close-btn close-win">取消</span>
            <span class="next-btn close-win">确认</span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".open-win").click(function(){
        var dataurl = $(this).attr('data-type');
        $("iframe").attr('src',dataurl)
    })
    function start(id,start){
        layer.confirm('你确定执行此次操作？', {
          icon:3
        }, function(){
           $.post('start',{id:id,start:start},function (res) {
               
           },'json')
        });
    }
</script>

{/block}

