<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div id="wrap" class="wrap" style="display: block;">
				<div class="wrap-con wrap-con2"id="forms">
					<form action="" method="post" class="form-2">
						<div><label>标题:</label><input type="text" name="" id="" value="" style="width: 218px;float: left;"/><label>标题:</label><input type="text" name="" id="" value="" style="width: 218px;;"/><span></span></div>
						<div><label>标题:</label><input type="text" name="" id="" value="" /><span></span></div>
						<div><label>图片:</label><img src="img/goumai.jpg" width="200px"height="180px"/><span></span></div>
						<div><label>标题:</label><textarea name="" rows="" cols=""></textarea><span></span></div>
						<div><label>标题:</label><textarea name="" rows="" cols=""></textarea><span></span></div>
						<div><label>标题:</label><textarea name="" rows="" cols=""></textarea><span></span></div>
						<div><label>标题:</label><textarea name="" rows="" cols=""></textarea><span></span></div>
						<div><label>标题:</label><textarea name="" rows="" cols=""></textarea><span></span></div>
						<div><label>标题:</label><textarea name="" rows="" cols=""></textarea><span></span></div>
						<div><label>标题:</label><textarea name="" rows="" cols=""></textarea><span></span></div>
						<div><label>标题:</label><textarea name="" rows="" cols=""></textarea><span></span></div>
					</form>
				</div>
		</div>
	</body>
</html>
<script src="js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/js.js" type="text/javascript" charset="utf-8"></script>
