
{extend name="public/base" /}

<!--尾部-->

<!--返回顶部-->
{block name="content"}
{__block__}
<input type="hidden" name="mun_url" id="mun_url" value="5,3,false,保证金设置"/>

<div class="c-r right">
    <div class="label1">
        <div class="title">
            保证金设置
        </div>
        <div class="form" id="form">
            <form action="" enctype="multipart/form-data" method="post">
                <div><label class="ltxt">金额设置:</label><input type="text" name="money" id="" value="{$money}" style="width: 80px;" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')"/>元<span></span></div>


                <div><button type="submit" class="btns">保存</button></div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>



{/block}
















